/* @import url('https://fonts.googleapis.com/css?family=Spartan'); */
*{
    margin: 0;
    padding: 0;
    box-size : border-box;
    font family : 'Spartan' , sans-serif;
}
h1{
    font-size:50px;
    line-height:64px;
    color :020202;
}
h2{
    font-size:46px;
    line-height:54px;
    color:020202;
}
h4{
    font-size:20px;
    color:020202;
}
h6{
    font-weight:700;
    font-size:12px;
}
p{
    font-size:16px;
    color:020202;
    margin:15px 0 20px 0;
}
.section-p1{
    padding:20px 50px;
}
.section-m1{
    margin:40px 0;
}
body{
    width:100%;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}
#navbar {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  #navbar li {
    margin-right: 30px; /* Optional margin between list items */
  }
   
  #navbar li:last-child {
    margin-right: 40px; /* Remove margin from the last list item */
  }

  #navbar li a {
    text-decoration: none;
    color: #000; /* Optional link color */
  }
  